################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HelloWorld/.vs/HelloWorld/v16
/HelloWorld/HelloWorld/Debug/HelloWorld.tlog
/GettingStarted/HelloWorld/.vs/HelloWorld/v16
/GettingStarted/.vs/GettingStarted/v16
/GettingStarted/HelloWorld/.vs/GettingStarted/v16
/BasicSyntax/.vs/BasicSyntax/v16
